.container {
  margin: 0 5%;
  overflow-x: hidden;
  .game {
    display: flex;

    .game_title_adp {
      display: none;
    }

    .information {
      margin-right: 30px;
    }

    .game_title {
      font-size: 72px;
      line-height: 74px;
      font-weight: 700;
    }

    .stat_title {
      margin-right: 15px;
      font-size: 16px;
      font-weight: 700;
    }

    .progressBar {
      padding-bottom: 10px;
    }

    .rating {
      display: flex;
      align-items: center;
      font-size: 18px;

      .total {
        padding-top: 3px;
        margin-left: 10px;
      }
    }

    .title {
      font-size: 28px;
      font-weight: 700;
    }

    .item {
      margin-left: 15px;
      font-size: 24px;
      color: #adadad;
    }

    .info {
      margin: 10px 0;
    }

    a {
      color: #adadad;
      background-image: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0) 0,
        hsla(0, 0%, 100%, 0.4) 0,
        hsla(0, 0%, 100%, 0.4) 1px,
        hsla(0, 0%, 100%, 0) 0
      );

      &:hover {
        color: #fff;
        transition: all 0.1s ease-in;
      }
    }

    .platform_name,
    .developer_name,
    .genre_name {
      &:not(:last-child):after {
        content: ', ';
      }
    }
  }

  .about_game {
    h3 {
      font-size: 28px;
      text-align: center;
      padding: 20px 0;
    }
    line-height: 22px;
    font-size: 18px;
  }

  .images {
    margin: auto 0;
    width: 60%;
    padding-right: 20px;
  }

  @media screen and (max-width: 1232px) {
    .game {
      display: block;

      .game_title {
        display: none;
      }

      .game_title_adp {
        display: block;
        font-size: 52px;
        line-height: 74px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .images {
        margin: auto 0;
        width: 80%;
      }

      .title {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .about_game {
      padding: 0 20px;
      h3 {
        font-size: 18px;
        text-align: center;
        padding: 20px 0;
      }
    }
  }
}
