.imageFlexContainer {
  width: 100%;
  display: flex;

  @media screen and (max-width: 550px) {
    display: grid;
    grid-template-columns: repeat(3, 100px);
  }

  @media screen and (max-width: 400px) {
    display: grid;
    grid-template-columns: repeat(2, 100px);
  }
}

.imageContainer {
  margin-top: 10px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
