.card {
  width: 360px;
  border: none;
  border-radius: 15px;
  background-color: rgb(32, 32, 32);
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  a {
    background-image: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0) 0,
      hsla(0, 0%, 100%, 0.4) 0,
      hsla(0, 0%, 100%, 0.4) 1px,
      hsla(0, 0%, 100%, 0) 0
    );
    overflow: hidden;
  }

  .container {
    padding: 34px 26px;
    text-align: center;
    .title {
      min-width: 300px;
      font-size: 26px;
      font-weight: 700;
    }

    .games_count {
      padding-top: 28px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: #393937;
      margin-bottom: 10px;
    }

    .game_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 19px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 6px;
      font-size: 14px;

      a {
        max-width: 80%;
      }

      .added {
        display: flex;
        align-items: center;
        color: #696868;
      }
    }
  }
}
