.container {
  width: 100%;
  margin: 0 5%;
  .developer {
    display: flex;
    justify-content: space-between;

    .developer_title_adp {
      display: none;
    }

    .information {
      margin-right: 60px;
      width: 50%;
    }

    .images {
      width: 50%;
      img {
        width: 90%;
      }
    }

    .title {
      font-size: 28px;
      font-weight: 700;
    }

    .item {
      margin-left: 15px;
      font-size: 24px;
      color: #adadad;
    }

    .info {
      margin: 10px 0;
    }
  }
  .grid {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: repeat(3, 360px);

    @media screen and (min-width: 1980px) {
      grid-template-columns: repeat(4, 360px);
    }
    @media screen and (max-width: 1460px) {
      grid-template-columns: repeat(2, 360px);
    }

    @media screen and (max-width: 742px) {
      grid-template-columns: repeat(1, 360px);
    }
  }

  .name {
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
  }

  .heading {
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
  }

  @media screen and (max-width: 1232px) {
    .developer {
      display: block;

      .name {
        display: none;
      }

      .information {
        width: 100%;
      }

      .developer_title_adp {
        display: block;
        font-size: 52px;
        line-height: 74px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .images {
        margin: auto 0;
        width: 50%;
      }

      .title {
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
  @media screen and (max-width: 742px) {
    .developer {
      .images {
        width: 100%;
      }
    }
  }
}
