.HeaderSearch {
  color: var(--white);
  width: 60%;
  position: relative;

  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #3b3b3b;
    height: 40px;
    transition: all 0.2s ease-in;
    color: var(--white);

    &:focus {
      background-color: var(--white);
      color: var(--dark);
    }
  }

  .searchList {
    position: absolute;
    top: 50px;
    width: 100%;
    max-height: 800px;
    background-color: #000;
    border-radius: 10px;
    z-index: 100;

    .container {
      padding: 20px;
    }

    .heading {
      display: flex;
      align-items: center;

      p {
        margin-left: 5px;
        color: #555;
      }
    }
  }
}
