.headerWrapper {
  max-width: 1480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  margin-bottom: 60px;

  .nav {
    display: flex;
    gap: 40px;

    li {
      a {
        color: var(--white);
      }

      a:hover {
        color: var(--orange);
        transition: 0.2s;
      }
    }
  }
}
